* {
  box-sizing: border-box;
}

html {
  min-width: 360px;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  min-width: 360px;
  min-height: 100vh;
  margin: 0;
}

button, input, select {
  font: inherit;
}

button {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  color: #183d35;
  background: #cce4d3;
}